<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" verbose="true" bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="All">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="Publisher">
            <directory>tests/Publisher</directory>
        </testsuite>
        <testsuite name="Consumer">
            <directory>tests/Consumer</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./log/coverage" charset="UTF-8"
            yui="true" highlight="true"
            lowUpperBound="50" highLowerBound="80"/>
        <log type="testdox-html" target="./log/testdox.html" />
    </logging>

    <php>
        <ini name="zend.enable_gc" value="0" />
    </php>
</phpunit>
